{% extends "layout/admin.html.twig" %}
{% block body %}
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Liste des adresses e-mails</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <table width="100%" class="table" id="dataTables-example">
          <thead>
            <tr>
              <th>#</th>
              <th>Adresse e-mail</th>
              <th>Date d'inscription</th>
              <th>Confirmé</th>
              <th>Accepte les e-mails</th>
            </tr>
          </thead>
          <tbody>
            {% for emailAddress in list.entities %}
              <tr>
                <td>
                  <a href="{{ path("admin_newsletter_edit_email_address", {"id": emailAddress.id}) }}">{{ emailAddress.id }}</a>
                </td>
                <td>{{ emailAddress.emailAddress }}</td>
                <td>{{ emailAddress.createdAt|date("d/m/Y") }}</td>
                <td>
                  {% if emailAddress.isConfirmed == false %}
                    <b style="color: red;">Non</b>
                  {% else %}
                    <b style="color: green;">Oui</b>
                  {% endif %}
                </td>
                <td>
                  {% if emailAddress.acceptsEmails == false %}
                    <b style="color: red;">Non</b>
                  {% else %}
                    <b style="color: green;">Oui</b>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if list.maxPage > 1 %}
          <nav>
            <ul class="pagination">
              {% if list.previousPage > 0 %}
                <li>
                  <a href="{{ path("admin_newsletter_list_email_address", {"page": list.previousPage}) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% endif %}
              {% for i in 1..list.maxPage %}
                <li{% if i == list.page %} class="active"{% endif %}>
                  <a href="{{ path("admin_newsletter_list_email_address", {"page": i}) }}">{{ i }}</a>
                </li>
              {% endfor %}
              {% if list.nextPage > 0 %}
                <li>
                  <a href="{{ path("admin_newsletter_list_email_address", {"page": list.nextPage}) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}