{% extends "layout/base.html.twig" %}
{% block title %}{{ article.title }} - {{ s4blog_getConfig("title") }}{% endblock %}
{% block stylesheets %}
  <link href="{{ asset("css/article.css") }}" rel="stylesheet">
  <link href="{{ asset("node_modules/prismjs/themes/prism.css") }}" rel="stylesheet">
{% endblock %}
{% block body %}
  <div class="article-container container-fluid">
    <h1 class="text-center">{{ article.title }}</h1>
    <p class="text-center when"> le {{ article.createdAt|date("d/m/Y \\ H:i") }}</p>

    <div class="content">
      {{ article.content|raw }}
    </div>
  </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset("node_modules/prismjs/prism.js") }}"></script>
{% endblock %}