{% extends "layout/base.html.twig" %}
{% block title %}{{ article.title }} - {{ s4blog_getConfig("title") }}{% endblock %}
{% block stylesheets %}
  <link href="{{ asset("css/article.css") }}" rel="stylesheet">
  <link href="{{ asset("node_modules/prismjs/themes/prism.css") }}" rel="stylesheet">
{% endblock %}
{% block body %}
  <div class="col-lg-9 article-section">
    <div class="article">
      <h3 class="article-name mt-4">
        <a href="{{ path("article_view", { "id": article.id, "slug": article.slug }) }}">
          {{ article.title }}
        </a>
        <small class="when">
          {{ article.createdAt|date("F Y") }}
        </small>
      </h3>
      <div class="article-content">
        {{ article.content|raw }}
      </div>
    </div>
  </div>

  {% include "blocks/about.html.twig" %}
{% endblock %}
{% block javascripts %}
  <script src="{{ asset("node_modules/prismjs/prism.js") }}"></script>
{% endblock %}