{% extends "layout/base.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset("css/article.css") }}" />
{% endblock %}
{% block body %}
  <div class="col-lg-9 article-section">
    {% for article in list.entities %}
      <div class="article">
        <h3 class="article-name mt-4">
          <a href="{{ path("article_view", { "id": article.id, "slug": article.slug }) }}">
            {{ article.title }}
          </a>
          <small class="when">
            {{ article.createdAt|date("F Y") }}
          </small>
        </h3>
        {% if article.preview %}
          <div class="article-content">
            <p>
              {{ article.preview|raw }}<br />
              <a href="{{ path("article_view", { "id": article.id, "slug": article.slug }) }}">Read more..</a>
            </p>

          </div>
        {% else %}
          <div class="article-content">
            {{ article.content|raw }}
          </div>
        {% endif %}

      </div>

    {% endfor %}

  </div>

  {% include "blocks/about.html.twig" %}

{% endblock %}